body {
    font: 1em Arial, Helvetica, sans-serif;
}

a {
    color: #669;
    text-decoration: none;
}

h1 {
    font: bold 36px Arial, Helvetica, sans-serif;
}

/* Structure */
#pagewrap {
    padding: 5px;
    width: 1000px; 
    margin: 20px auto;
}

header {
    height: 150px;
}

#content {
    float: left;
}

#sidebar {
    width: 300px;
    float: right;
}

footer {
    clear: both;
}

/* Border & Guideline */
#content {
    background: #ffffff;
}

#sidebar {
    background: #f0efef;
}

header, #content, #sidebar, nav {
    margin-bottom: 5px;
}

#pagewrap, header, #content, #sidebar, footer, nav {
    border: solid 1px #ccc;
    padding: 5px;
}

header, #LBU, #sidebar, nav {
    margin-bottom: 5px;
}

#pagewrap, header, #LBU, #sidebar, footer, nav {
    border: solid 1px #ccc;
    padding: 5px;
}

/* Navigation */
#navlist {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
}

#navlist a {
    padding: 3px 10px;
}

#navlist li {
    display: inline;
    list-style-type: none;
}

#navlist a:link, #navlist a:visited {
    color: #000;
    background-color: #ffffff;
    text-decoration: none;
}

#navlist a:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}


/* Style for the logout bar */
#logout-bar {
    background-color: #f1f1f1;
    padding: 2px 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    
    display: flex;
    justify-content: space-between; /* back on left, others on right */
    align-items: center;
}

#logout-bar .left-group,
#logout-bar .right-group {
    display: flex;
    align-items: center;
}

#logout-bar span {
    margin-right: 20px;
    font-size: 16px;
    color: #333;
}

#logout-bar #username,
#logout-bar #role {
    font-weight: bold;
}

#logout-bar a.logout-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 0px;
}

#logout-bar a.logout-button:hover {
    background-color: #0056b3;
}

.left-group .logout-button {
    margin-right: 10px; /* space between the buttons */
}


/* Style for the create case bar */
#createcase-bar {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: right; /* Aligns the content to the right */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#createcase-bar span {
    margin-right: 20px;
    font-size: 16px;
    color: #333;
}

#createcase-bar #createcase-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

#createcase-bar #createcase-button:hover {
    background-color: #0056b3;
}

/* Style for the case navigation bar */
#navcase-bar {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: left; /* Aligns the content to the right */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#navcase-bar span {
    margin-right: 20px;
    font-size: 16px;
    color: #333;
}

#navcase-bar #navcase-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

#navcase-bar #navcase-button:hover {
    background-color: #0056b3;
}

/* Error message */
.error-message {
    color: red;
    display: inline;  
    margin-left: 10px; 
}

.lbu-high {
    background-color: #87c1ff;
    color: white;
    font-weight: bold;
}

.lbu-dark {
    background-color: #5aaaff;
    color: white;
    font-weight: bold;
}

.styled-table th, 
.styled-table td {
    border: 2px solid black;
    padding: 10px; 
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
}

#LBU {
    max-width: 1000px;
    margin: auto;
    overflow-wrap: break-word;
}

#LBU table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#LBU table th, 
#LBU table td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Ensures text wraps */
}

.LBU03-x {
    width: 10px; 
    text-align: center; 
    padding: 5px;
    white-space: nowrap;
}

.LBU03-time {
    width: 100px; 
    text-align: center; 
    padding: 5px;
    white-space: nowrap;
}

.LBU03-actioner {
    width: 200px; 
    text-align: center; 
    padding: 5px;
    white-space: nowrap;
}

.LBU03-removed {
    background-color: #ffa8a8;
    color: black;
    
    font-weight: bold;
}


/************************************************************************************
 MEDIA QUERIES
 ************************************************************************************/

/* For 1200px or less */
@media screen and (max-width: 1200px) {
    #pagewrap {
        width: 94%;
    }

    #content {
        width: 65%;
    }

    #sidebar {
        width: 30%;
    }

    #navlist li {
        display: inline;
    }
}

/* For 980px or less */
@media screen and (max-width: 980px) {
    #content {
        width: auto;
        float: none;
    }

    #sidebar {
        width: auto;
        float: none;
    }

    #navlist li {
        display: block;
        margin: 10px;
    }

    #navlist a {
        padding: 3px 10px;
        border: solid 1px #ccc;
    }

    #navlist a:link, #navlist a:visited {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        text-align: center;
    }
}

/* For 550px or less */
@media screen and (max-width: 550px) {
    header {
        height: auto;
    }

    h1 {
        font-size: 24px;
    }

    #sidebar {
        display: none;
    }

    footer {
        display: none;
    }
}
